# Target directory
target

# Python
*.pyc
*__pycache__
*.egg-info
build
dist
MANIFEST
.idea
.vscode
logs
tests/logs/
coverage-reports/
htmlcov/

# Python test
.coverage*
.mypy_cache
.pytest_cache/
.tox
tests/resources/tmp_configs/

# Virtual environments
.venv/
env/
venv/
.env

# Project-specific
dags/version.info

# Docker
docker-compose.override.yml
docker-compose.override.yaml